<!DOCTYPE html>
<html>
  <head>
    <title>SideScroller</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <title> Side Scroller </title>
    <script type="text/javascript" src="phaser.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
